.footer{
    position: fixed;
    bottom: 0;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer .p{
    font-size: 0.7em;
    font-weight: 300;
}

#icone{
    padding-left: 0.35em;
    padding-right: 0.35em;
    max-height: 32px;
}

.mat-toolbar.footer_cor {
    background: #F2D1A0;
}