/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.laranja{
    color: #F2541B;
}



.vermelho{
    color: #F20505;
}

.gelo{
    color: #F2F2F2;
}

.preto{
    color: #0D0D0D;
}

.telha_escuro{
    color: #A36C65;
}

.telha_claro{
    color: #F09489;
}

.azul_ceu{
    color: #7CE9F0;
}

.marron{
    color: #70614A;
}

.marron_medio{
    color: #BD8C44;
}

.marron_claro{
    color: #F2D1A0;
}

.amarelo_queimado{
    color: #F0B256;
}

.creme{
    color: #F0C571;
}